@model IEnumerable<ReactiveApp.Web.Models.AddItemModel>

@{
    ViewBag.Title = "Cart";
}

@{
    ViewBag.AngularModule = "reactiveApp";
    ViewBag.AngularController = "CartCtrl";    
}
<h2>Cart</h2>

<div class="alert alert-info" style="display:none" id="cart-loading">Please wait while we load your cart...</div>

<table class="table">

    <tr ng-repeat="cartItem in cartItems">
        <td>
            {{cartItem.Name}}
        </td>
        <td>
            {{cartItem.Quantity}}
        </td>
    </tr>

</table>

@section scripts{
    <script>
        $.ajaxSetup({
            beforeSend: function () {
                $("#cart-loading").show();
            },
            complete: function () {
                $("#cart-loading").hide();
            }
        });
    </script>
    <script src="~/Scripts/Application/Controllers.js"></script>
}