@{
    ViewBag.Title = "Home Page";
    ViewBag.AngularModule = "reactiveApp";
    ViewBag.AngularController = "ProductCtrl";
}

<div class="jumbotron">
    <h1>This App is Reactive</h1>
    <p class="lead">Gremlins may strike at any time but reactive applications have the anti-gremom.</p>
</div>

<div class="row">
    <table class="table">
        <tr ng-repeat="product in products">
            <td>{{product.name}}</td>
            <td><button class="btn btn-success btn-sm btn-add-item" type="button" data-id="{{product.itemId}}" data-name="{{product.name}}">Add to cart</button></td>
        </tr>

    </table>
</div>

@section scripts{
    <script src="~/Scripts/Application/Controllers.js"></script>
    <script type="text/javascript">

        $(function() {
            $('.btn-add-item').click(function() {

                var message = {
                    ItemId: $(this).attr('data-id'),
                    Name: $(this).attr('data-name'),
                    Quantity: 1
                };

                var cartUrl = '/api/cart';

                $.ajax({
                    type: 'POST',
                    url: cartUrl,
                    data: message
                });

            });
        });

    </script>
}
