@{
    ViewBag.Title = "Home Page";
    ViewBag.AngularModule = "reactiveApp";
    ViewBag.AngularController = "ProductCtrl";
}

<div class="jumbotron">
    <h1>This App is Reactive</h1>
    <p class="lead">Gremlins may strike at any time but reactive applications have the anti-gremom.</p>
</div>

<div class="alert alert-success" style="display:none" id="cart-response"></div>

<div class="row">
    <table class="table">
        <tr ng-repeat="product in products">
            <td>{{product.name}}</td>
            <td><button class="btn btn-success btn-sm btn-add-item" type="button" data-id="{{product.itemId}}" data-name="{{product.name}}">Add to cart</button></td>
        </tr>

    </table>
</div>

@section scripts{
    <script src="~/Scripts/Application/Controllers.js"></script>
    <script type="text/javascript">

        function setSuccessAlert() {
            var cartResponse = $("#cart-response");
            cartResponse.html('Sweet! Added to your cart.');
            cartResponse.removeClass('alert-error');
            cartResponse.show().delay(3000).fadeOut(400);
            cartResponse.addClass('alert-success');
        }

        function setFailedAlert() {
            var cartResponse = $("#cart-response");
            cartResponse.html('Lamesauce. =( Couldn\'t add to your cart at this time');
            cartResponse.removeClass('alert-success');
            cartResponse.show().delay(3000).fadeOut(400);
            cartResponse.addClass('alert-danger');
        }

        $(function() {
            $('.btn-add-item').click(function() {

                var message = {
                    ItemId: $(this).attr('data-id'),
                    Name: $(this).attr('data-name'),
                    Quantity: 1
                };

                var cartUrl = '/api/cart';

                $.ajax({
                    type: 'POST',
                    url: cartUrl,
                    data: message
                }).done(function () {
                        setSuccessAlert();
                    })
                  .fail(function () {
                    setFailedAlert();
                });

            });
        });

    </script>
}
